
{{#each erros}}
    <div class="alert alert-danger"> {{texto}} </div>
{{else}}


{{/each}}
    <title>Registration</title>
</head>
<body>
    <div class="form">
    
        <h1>Create your access</h1>
    
        <form class="form-control" action="/add" method="POST">

            <label for=""> Name 
                <input type="text" name="name" required>
            </label>  <br>
            <label for="">RN    
                <input type="number" name="rn" required>
            </label><br>
            <label for="">E-mail    
                <input type="email" name="email" required>
            </label><br>
            <label for="">Birth Date    
                <input type="date" name="date" required>
            </label><br>
            <label for="">Password    
                <input type="password" name="pass" required>
            </label><br>
            <label for="">Confirm Password    
                <input type="password" name="confirmpass" required>
            </label><br>
    
            <label for="">
                <input type="checkbox" name="term" id="" required>
                Accept shared information. <a href="policypage.html">Click here</a> for more information.
            </label>
    <br>

            <input type="submit" value="Send">
    <br><br>
            <p>Do you have a account?</p>
            <a href="/login"><button type="button">Click Here</button></a>

        </form>
    </div>  
     

</body>
</html>